.App {
  text-align: center;
}

body {
  background-color: lightcyan;
}

.nav-bar > ul > li {
  list-style: none;
}

.songs-list > ul > li{
  padding: 5px;
  list-style: none;
}

.songs-list > ul {
  height: 60vh;
  overflow: scroll;
}

.songs-list > ul > li:hover{
  color: navy;
  font-size: 1.5rem;
}

.song-detail {
  background-color: aqua;
}
